<md-toolbar color="primary">
  <span>OpenDatathon</span>
  <span class="spacer"></span>
  <div *ngIf="authUser" class="user-actions">
    <button md-button [mdMenuTriggerFor]="userDetailsMenu"><img src="{{authUser.auth.photoURL}}"></button>
  </div>
  <button md-icon-button [mdMenuTriggerFor]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu #userDetailsMenu="mdMenu">
    <button *ngIf="authUser" md-menu-item class="user-actions">
      {{authUser.auth.displayName}}
      <img src="{{authUser.auth.photoURL}}">
    </button> 
  </md-menu>
  <md-menu #menu="mdMenu">
    <button md-menu-item *ngIf="!authUser" (click)="login()">
      <md-icon>fingerprint</md-icon>
      <span>Login</span>
    </button>
    <button md-menu-item *ngIf="authUser" (click)="logout()">
      <md-icon>fingerprint</md-icon>
      <span>Logout</span>
    </button>
    <button md-menu-item>
      <md-icon>fingerprint</md-icon>
      <span>Acerca de</span>
    </button>
  </md-menu>
</md-toolbar>

<md-tab-group>
  <md-tab label="Mapa">
    <app-map></app-map>
  </md-tab>
  <md-tab label="Configuración">
    <app-valenbisi-list></app-valenbisi-list>
  </md-tab>
</md-tab-group>