.spacer {
  // This fills the remaining space, by using flexbox. 
  // Every toolbar row uses a flexbox row layout.
  -webkit-box-flex : 1;
  -ms-flex : 1 1 auto;
  flex : 1 1 auto;
}

.user-actions {
  flex-direction: row-reverse;
  display: flex;
}

.user-actions span {
  //float : left;
  flex : 1 1 auto;
  align-self: center;
  margin : 2px;
}

.mat-icon-button img {
  height: 32px;
  //float: right;
  border-radius: 15px;
  margin-right : 1px;
  margin-top : -4px;
}

.user-actions img {
  max-height: 32px;
  //float: right;
  border-radius: 15px;
  margin-right : 1px;
  align-self: center;
  flex : 1 1 auto;
}